ul {
  list-style: none;
  font-size: 20px;
}
ul li {
  font-size: 2em;
}
ol {
  list-style: none;
  font-size: 30px;
}
ol li {
  font-size: 2em;
  color: red;
}

.H1 {
  color: blue;
  position: relative;
  bottom: 450px;
  left: 850px;
  width: max-content;
}

.H1::after {
  content: "";
  background: linear-gradient(145deg, red, deeppink, deepskyblue, green, gold);
  border-radius: 30px;
  width: 0;
  height: 4px;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
}
.H1:hover::after {
  width: 100%;
}

.box {
  padding: 20px 50px;
  position: relative;
  left: 120px;
  bottom: 150px;
  border: none;
  /*outline: none;
  */
  border-radius: 40px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 19px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box::after {
  content: "";
  position: absolute;
  width: 102%;
  height: 107%;
  border-radius: 40px;
  background: linear-gradient(to bottom right, #008cff, #e100ff);
  z-index: -1;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
}
.box:hover {
  z-index: 0;
  color: white;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: relative;
  bottom: 100px;
}

nav a {
  text-decoration: none;
  font-size: 25px;
  position: relative;
  color: black;
  width: max-content;
  padding-bottom: 6px;
}
nav a::after {
  content: "";
  position: absolute;
  background: linear-gradient(145deg, blue, aqua, darkblue);
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
nav a:hover::after {
  width: 100%;
}
